alembic==0.9.5
Babel==2.5.0
backlash==0.1.2
Beaker==1.9.0
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
crank==0.8.1
decorator==4.1.2
flask==0.12.2
flask-babelex==0.9.3
flask-login==0.4.0
flask-mail==0.9.1
flask-oauth==0.12
flask-principal==0.4.0
flask-security==3.0.0
flask-social==1.6.2
flask-wtf==0.14.2
FormEncode==2.0.0a1
funcsigs==1.0.2
future==0.16.0
gearbox==0.1.1
genshi==0.7
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
jinja2==2.9.6
Kajiki==0.7.0
Mako==1.0.7
MarkupSafe==1.0
nine==1.0.0
oauth2==1.9.0.post1
oauth2client==4.1.2
oauthlib==2.0.3
olefile==0.44
passlib==1.7.1
PasteDeploy==1.5.2
pillow==9.0.0
pyasn1==0.3.4
pyasn1-modules==0.1.4
Pygments==2.2.0
pypdf2==1.26.0
python-dateutil==2.6.1
python-editor==1.0.3
python-memcached==1.58
python-twitter==3.3
pytz==2017.2
reportlab==3.4.0
repoze.lru==0.7
repoze.sendmail==4.3
repoze.who==2.3
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
selenium==3.5.0
six==1.10.0
speaklater==1.3
sprox==0.10.2
SQLAlchemy==1.1.14
Tempita==0.5.2
tg.devtools==2.3.11
tgapp-fbauth==0.3.0
tgext.admin==0.7.4
tgext.crud==0.8.2
tgext.debugbar==0.3.0
tgext.mailer==0.2.0
tgext.pluggable==0.7.0
tgscheduler==1.7.0
transaction==2.1.2
TurboGears2==2.3.11
tw2.bootstrap.forms==2.2.2.1
tw2.core==2.2.4
tw2.dynforms==2.0.1
tw2.forms==2.2.5
tw2.jqplugins.jqgrid==2.2.0
tw2.jqplugins.ui==2.2.0
tw2.jquery==2.2.0.2
tw2.sqla==2.1.0
tzlocal==1.4
uritemplate==3.0.0
urllib3==1.22
waitress==1.0.2
webencodings==0.5.1
webhelpers==1.3
WebHelpers2==2.0
WebOb==1.7.3
WebTest==1.4.3
werkzeug==0.12.2
wtforms==2.1
xhtml2pdf==0.2b1
zope.interface==4.4.2
zope.sqlalchemy==0.7.7
-e .